.form {
    background-color:rgb(112, 162, 154);
    display: flex;
    padding: 1rem;
}

.form input {
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 0.5rem;
    border: 1px solid #ccc;
    flex: 3;
}

.form button {
    margin-left: 0.4rem;
    flex: 1;
    background-color:rgb(89, 131, 124);
    border: 0;
    border-radius: 4px;
}

.form button:hover {
    background-color:rgb(76, 113, 107);
    cursor: pointer;
}