.item {
    display: flex;
    align-items:center;
    background-color:rgb(101, 116, 151);
    list-style: none;
    margin: 0 0 0.5rem 0;
    border-radius: 4px;
    position:relative;
    z-index: 3;
    padding: 0.5rem;
}

.checkbox {
    width: 1.8rem;
}

.name {
    flex:auto;
}

.remove {
    padding-left: 0.2rem;
    width: 4.5rem;
}

.remove button {
    background-color:rgb(76, 99, 154);
    border-radius: 4px;
    border: 0;
    height: 2rem;
}

.remove button:hover {
    cursor: pointer;
    background-color:rgb(64, 83, 130);
}

input[type=checkbox] {
    opacity:0;
    scale: 1.8; 
    position:absolute;
    z-index: 20;
    cursor:pointer;
}

.fakeBox {
    z-index: 5;
    position:relative;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    border: 2px solid rgb(76, 99, 154);
}

.checked {
    background-color: rgb(76, 99, 154);
}

